@mixin block {
  .container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem 0;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 0 3rem;
      margin: 5rem 0;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 0 4rem;
    }

    // ----------------------------------- Sidebar
    .sidebar {
      @media screen and (min-width: 768px) {
        width: 33%;
      }

      @media screen and (min-width: 1200px) {
        width: 40%;
      }

      .sidebar-heading {
        font-size: 3.5rem;
        margin: 0 0 1.3rem 0;

        @media screen and (min-width: 768px) {
          font-size: 5rem;
        }

        @media screen and (min-width: 992px) {
          font-size: 6rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 9.4rem;
        }
      }

      .sidebar-description {
        line-height: 1.35;
        margin: 0;
        @media screen and (min-width: 1200px) {
          font-size: 1.1rem;
        }
      }
    }

    // ----------------------------------- Form content
    .form-content {
      background-color: #D5EEFF;
      border-radius: 1rem;
      padding: 2rem 1rem;
      min-width: 0;

      @media screen and (min-width: 768px) {
        flex-grow: 1;
      }

      @media screen and (min-width: 992px) {
        padding: 3rem 2.5rem;
      }

      .form-heading {
        margin: 0 0 1rem 0;
        font-family: "Bebas Neue", sans-serif;
        font-size: 2rem;
        line-height: 1;
        @media screen and (min-width: 768px) {
          font-size: 2.5rem;
        }
  
        @media screen and (min-width: 992px) {
          font-size: 3.4rem;
        }
      }
    }
  }
}