@use 'variables' as vars;

@mixin block {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem 0;

    @media screen and (min-width: vars.$br-md) {
      flex-direction: row;
      gap: 0 3rem;
      margin: 5rem 0;
    }

    @media screen and (min-width: vars.$br-xl) {
      flex-direction: row;
      // gap: 0 4rem;
    }

    // ----------------------------------- Sidebar
    .sidebar {
      @media screen and (min-width: vars.$br-md) {
        width: 33%;
      }

      @media screen and (min-width: vars.$br-xl) {
        width: 40%;
      }

      .sidebar-heading {
        font-size: 3.5rem;
        margin: 0 0 1.3rem 0;

        @media screen and (min-width: vars.$br-md) {
          font-size: 5rem;
        }

        @media screen and (min-width: vars.$br-lg) {
          font-size: 6rem;
          margin-bottom: 1.5rem;
        }

        @media screen and (min-width: vars.$br-xl) {
          font-size: 9.4rem;
        }
      }

      .sidebar-description {
        line-height: 1.35;
        margin: 0;
        @media screen and (min-width: vars.$br-xl) {
          font-size: 1.1rem;
        }
      }
    }

    // ----------------------------------- Form content
    .form-content {
      background-color: vars.$blue-2;
      border-radius: 1rem;
      padding: 2rem 1rem;
      min-width: 0;

      @media screen and (min-width: vars.$br-md) {
        flex-grow: 1;
      }

      @media screen and (min-width: vars.$br-lg) {
        padding: 3rem 2.5rem;
      }

      .form-heading {
        margin: 0 0 1rem 0;
        font-family: "Bebas Neue", sans-serif;
        font-size: 2rem;
        line-height: 1;
        @media screen and (min-width: vars.$br-md) {
          font-size: 2.5rem;
        }
  
        @media screen and (min-width: vars.$br-lg) {
          font-size: 3.4rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}