@use 'variables' as vars;

@mixin focus {
  outline: 2px solid vars.$blue-3;
  background-color: vars.$blue-1;
}

@mixin hover {
  outline: 2px solid vars.$blue-3;
}

@mixin active {
  outline: 2px solid vars.$blue-8;
}

@mixin error {
  outline: 2px solid vars.$red;
  background-color: vars.$pale-red;
}
