// Breakpoints
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1200px;

// Colours
$white: #FFF;
$black: #000;
$blue-1: #F6FBFF;
$blue-2: #D5EEFF;
$blue-3: #76B7E4;
$blue-4: #71B8E8;
$blue-5: #89C6F1;
$blue-6: #5DA7D9;
$blue-7: #4A9BD2;
$blue-8: #3388C2;
$grey: #6F6F6F;
$red: #E47678;
$pale-red: #FFF3F3;

// Fonts
$pt-narrow: "PT Sans Narrow", sans-serif;
$babas-neue: "Bebas Neue", sans-serif;