// Breakpoints
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1200px;

// Colours
$white: #FFF;
$black: #000;
$pale-blue: #F6FBFF;
$light-blue: #D5EEFF;
$blue: #76B7E4;
$dark-blue: #3388C2;
$grey: #6F6F6F;
$red: #E47678;
$pale-red: #FFF3F3;